.destination{

     margin: 6rem 4rem;
}
.destination h1{
    font-size: 3rem;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h2 {
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.des-images{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
    margin-top:3rem;

}

.des-images img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px black;
}

.des-images img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width:850px) {
    .destination{
        margin: 4rem 2rem;
   }
   .first-des{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.first-des-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text{
    width: 100%;
}

.des-images{
    width: 100%;
    margin: 1.8rem 0;
}

.des-images img {
    height: 250px;
}


}
