.footer{
    padding: 4rem 6rem ;
    background-color: black;
    color: white;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top h1 {
    font-size:2.5rem ;
    font-weight: 800;
}

.top p {
   font-size: 1.5rem;
   font-weight: 600;
}

.top i {
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}

.top i:hover{
    color: rgba(208, 208, 208, 0.279);
}

.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom div {
    display: flex;
    flex-direction: column;

}
.bottom h4 {
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
    font-weight: 600;

}

.bottom Link {
    text-decoration: none;
    color: white;
    padding-bottom: .4rem;
    font-size: 1.1rem;
}

.copy-right{
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(98, 98, 98, 0.516);
    margin-top: 4rem;
    
}

.copy-right p {
 margin-top: 2rem;  
}


@media screen and (max-width:850px) {
  
    .footer{
        padding: 4rem 2rem;
    }
    .footer i {
        margin: 1rem 1rem 0 0 ;
    }

    .bottom div{
        width: 50%;
    }
    .copy-right{
        display: flex;
        color: gray;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgb(69, 69, 69);
        margin-top: 4rem;
        
    }
    .copy-right p {
        margin-top: 1rem;  
    }

}